<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form class="form-inline" role="form" method="POST" action="{% url 'cmp:proveedor_edit' obj.pk %}">
        {% else %}
        <form class="form-inline" role="form" method="POST" action="{% url 'cmp:proveedor_new' %}">
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                {# Para elegir el color de de la tarjeta amarillo si va a actulizar y verde si va agregar #}
                {% if obj  %}
              <div class="card border-left-warning shadow h-100 py-2">
                {% else  %}
              <div class="card border-left-success shadow h-100 py-2">
                {% endif  %}
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          {# Para elegir el titulo de la tarjeta #}
                          {% if obj  %}
                          Editar Proveedor
                          {% else  %}
                          Nuevo Proveedor
                          {% endif  %}
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="row">
                          {{ form.as_p }}
                      </div>
                      <div class="dropdown-divider"></div>
                      <div class="row">
                          <div class="col">
                              <button type="submit" class="btn btn-success"><span class="fa fa-save"></span>Guardar</button>
                              <!--<a href="{% url 'inv:producto_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a>-->
                              <button type="button" class="btn btn-danger" onclick="return cerrar_modal()"><span class="fa fa-undo"></span>Cancelar</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>
</div>
